.lincoapp-article
    .article
        if(info.name)
            if(md !== 'undefined')
                .readme
            else
                .title #{info.name}
                .des #{info.des}
                .readme
        else
            .tips 404
