.lincoapp-header
    .header
        a.logo(href="#/home")
            img(src="/static/sage/images/logo.png", alt="")
        //- nav.main-nav
        //-     li.current#getNote(target="/home") 旅行游记
        //-     li#getFormatHTML(target="/format")  HTML模板转码
