.lincoapp-header
    .header
        a.logo(href="/static/sage/#/home")
            img(src="/static/sage/images/logo.png", alt="")
        nav.main-nav
            li#quickstart(target="/home")
                a(href="/g/sage/quickstart") 快速开始
