.lincoapp-header
    .header
        a.logo(href="/static/sage/#/home")
            img(src="/static/sage/images/logo.png", alt="")
        nav.main-nav
            each item in nav
                li(id= item.id class= (item.selected ? 'current': ''))
                    a(href= item.link.url)= item.link.val
