.lincoapp-list
    .list
        ul
            li
                a.name(href="")
                    strong promise
                a.author(href="") gavinning
                .des This is promise 处理流程控制
                .bar
                    i.version v1.0.0
            li
                a.name(href="")
                    strong promise
                a.author(href="") gavinning
                .des This is promise 处理流程控制
                .bar
                    i.version v1.0.0
