extends ../layout

block toHead
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js")
    script hljs.initHighlightingOnLoad();

block content
    include ../../src/widget/header/header.jade
    .lonemd
        .readme $$markdown$
